@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedorCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.xs{
    font-size: 8px;
}
.xs-1{
    font-size: 11px;
}
.resultados{
    width: 100%;
    height: 90vh;
    text-align: left;
    position: absolute;
    top: 60px;
    background-color: #fff;
}
.ubicacion{
    width: 100%;
    height: 90vh;
}
.misCompras{
    background-color: #ededed;
    height: 80vh;
}
.menusticky{
    position: sticky;
    top:0px;
}
.menusticky-2{
    position: sticky;
    top:60px;
}
.w-95{
    width: 97%;
   
}