@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedorCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.xs{
    font-size: 8px;
}
.xs-1{
    font-size: 11px;
}
.resultados{
    width: 100%;
    height: 90vh;
    text-align: left;
    position: absolute;
    top: 60px;
    background-color: #fff;
}
.ubicacion{
    width: 100%;
    height: 90vh;
}
.misCompras{
    background-color: #ededed;
    height: 80vh;
}
.menusticky{
    position: sticky;
    top:0px;
}
.menusticky-2{
    position: sticky;
    top:60px;
}
.w-95{
    width: 97%;
   
}
.detalle{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 60px;
    margin-left:-5px;
    padding: 20px;
}
.xxs {
    font-size: 6px
}
.w-90{
    width: 94%;
}

.carrusel{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.card{
    max-width: 240px;
    min-width: 220px;
    height: 300px;
    padding: 2rem;
    margin-bottom: 80px;

}
.busqueda{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}
.user{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: solid .2rem rgb(154, 152, 152);
    padding: .3rem;
}
.font-boldito{
    font-weight: 500;
}
@media(min-width: 425px) { 
    .mobile{
        display: none;
    }
 }
@media(max-width: 424px) { 
    .informativo{
    display: none;
    }
 }
